<phpunit
    colors="true"
    bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="MapFilter">
      <directory suffix=".test.php">.</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist>
      <directory suffix=".php">../..</directory>
      <directory suffix=".php">../Pattern</directory>
      <directory suffix=".php">../ParameterObject</directory>
      <exclude>
        <directory>.</directory>
        <file>../PureException.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
