<phpunit
    colors="true"
    bootstrap="bootstrap.test.php">
  <testsuites>
    <testsuite name="MapFilter">
      <directory suffix=".test.php">.</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist>
      <directory suffix=".php">..</directory>
      <directory suffix=".php">../MapFilter/Pattern</directory>
      <exclude>
        <directory>.</directory>
        <directory>../user</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
