# Ignore generated documentation
user/doc/
# Ignore code coverage results
*Coverage
*Profiled
*.log
*phpCompatibilityFilter/
*.tgz
package.xml
MapFilter/*

!MapFilter/Interface.php
!MapFilter/PatternInterface.php
!MapFilter/NullPattern.php
!MapFilter/InvalidStructureException.php
